@model DataModels.Product

@{
    ViewData["Title"] = "Adding";
}

<h1>Adding new</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Standart</label>
                <input asp-for="Standart" class="form-control" />
                <span asp-validation-for="Standart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Expiry date</label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Product Type</label>
                <select asp-for="ProductTypeId" class ="form-control" asp-items="ViewBag.ProductTypeId"></select>
            </div>
            <div class="form-group">
                <label>Maker</label>
                <select asp-for="MakerId" class ="form-control" asp-items="ViewBag.MakerId"></select>
            </div>
            <div class="form-group">
                <label>Arranged by staff</label>
                <select asp-for="StaffId" class ="form-control" asp-items="ViewBag.StaffId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
